/* ここでh1はセレクターとよばれている */
@charset "utf-8";

body {
  background-color: palegoldenrod;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  color: purple;
  font-size: 80px;
  text-align: center;
}

p {
  color: forestgreen;
  font-size: 50px;
  /* line-heightはemと単位なしで違いがある */
  /* emは子要素にそのまま受け継ぐのに対し、単位なしは子要素で再計算される */
  line-height: 50px;
  text-align: center;
}

ul {
  text-align: center;
  list-style: none;
  font-size: 30px;
  line-height: 2;
}

.content1:hover {
  font-size: 50px;
}

a {
  text-decoration: none;
}
